html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.blue-color {
    color: #17a2b8 !important;
}

.blue-back{
    background-color: #17a2b8 !important;
}

.green-color {
    color: #28a745 !important;
}

.green-back {
    background-color: #28a745 !important;
}